.merchantSection{
    max-width: 900px;
    margin:0 auto;
    padding: 20px 30px;
     align-content: center; 
     display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.merchantContainer{
    align-content: center; 
    display: inline-block;
    margin: 30px;
    
}


.merchantImage{
    height: 250px;
    width:250px;
    overflow: hidden;
    transform-origin: center center;
    object-fit: cover;
    transition: ease-in 0.5s;
    filter: brightness(100%);

    
}

.merchantImage:hover{
    transform: scale(1.2);
}

.merchantContainer h3{
    display:block;
    width: 100%;
    text-align:center;
    font-size: 24px;
    color:#333;
    margin-bottom: 15px;
}



.merchantDetail{
    display: flex;
    margin:8px;
    align-items: center;
    justify-content: space-between;
} 

.merchantBtn{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}