.footerBody{
    display:flex;
    margin-top: 40px;
    padding:20px;
    background: #56ccf2;
}

.footerBody h2{
    text-align:center;
    color:white;
    width:50%;
    font-size:50px;
    font-weight: bold;
    margin:0 auto;
    font-family: 'Montserrat';
}


.footerIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}